.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;

    &-ui {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-basis: 50%;
        padding-bottom: 10px;

        #list-form {
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: flex-start;

        }


    }

    &-filter {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        justify-content: flex-end;
        padding-bottom: 10px;
    }

    &-container {
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px black;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;




        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            border: solid 1px black;
            border-bottom: 0;
            width: 100%;

            &-delete-button {
                height: 20px;

                &-image {
                    height: 100%;
                }
            }

            &-text {
                border: none;
                padding-left: 20px;
                width: 100%;

            }
        }
    }
}