.my-header {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}
.list-container {
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
}
.my-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    list-style-type: none;
    padding: 10px;
    flex-basis:25%;
    border: solid 1px blue;
    margin: 30px;
    
}
.img-container {
    flex-basis: 10%;
}
.my-image {
    width:100%;
}