<div class="todo-default-layer">
    <ul class="todo-default-layer-hidden" ng-repeat="day in activeDays" ng-hide="day == dateFilter">
        <button class="todo-default-layer-hidden-card" ng-click="cycleDate(day)">
            <label class="todo-default-layer-hidden-card-date">{{day}}</label>
        </button>
    </ul>
</div>
<ul ng-repeat="day in activeDays" class="todo-default-list" ng-show="dateFilter == day">
    <label class="todo-default-list-date">{{day}}</label>
    <li ng-class="(item.id == selectedItemID)?'default-list-item-selected':'todo-default-list-item'"
        ng-click="selectItem(item.id)"
        ng-repeat="item in items | filter:{label:$root.searchFilter, category:$root.categoryFilter, dateContr:day}">
        
        <div class="todo-default-list-item-label">{{item.label}}</div>
        <input class="todo-default-list-item-select" type="radio" name="selectedItem" value="{{item}}">
    </li>
</ul>
