<input type="text" class="todo-edit-label" ng-model="selectedItem.label">

<div class="todo-edit-categories">
    <label
        ng-class="(selectedItem.category == group)? 'todo-edit-categories-option-selected' : 'todo-edit-categories-option'"
        ng-repeat="group in categoryLegend">
        <input type="radio" id="add-category" class="todo-edit-categories-option-check" ng-model="selectedItem.category"
            ng-value="group">{{group}}</label>
</div>
<input type="date" class="todo-edit-date" ng-model="selectedItem.date">
<textarea class="todo-edit-notes" ng-model="selectedItem.notes"></textarea>
<button type="submit" class="todo-edit-complete" ng-click="closeEditor()">Complete</button>