<html lang="en" ng-app="myList">

<head>
  <meta charset="utf-8">

  <title>My Page</title>
  <meta name="description" content="Test Work View">
  <meta name="author" content="me">

  <!-- build:stylesheetLink -->
  <link rel="stylesheet" href="./css/styles.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  
</head>

<body>
  <div class="todo" ng-controller="todoController">
    

    <div class="todo-header" ng-controller="headerController">
      <div class="todo-header-default" ng-hide="search">
        <button class="todo-header-default-search-button" ng-click="openSearch()">
          <img id=search-icon src="img/searchIcon.png">
        </button>
        <button class="todo-header-default-edit-button" ng-show="selectedItemID" ng-click="editItem()">edit</button>
      </div>
      <div class="todo-header-search" ng-show="search">
        <input class="todo-header-search-input" type="text" ng-model="$root.searchFilter" placeholder="Search...">
        <select class="todo-header-search-select" ng-model="$root.categoryFilter">
          <option ng-repeat="group in categoryLegend">{{group}}</option>
        </select>
        <button class="todo-header-search-cancel-button" ng-click="cancelSearch()">
          <img id="cancel-icon" src="img/img2.png">
        </button>
        <button class="todo-header-search-edit-button" ng-click="editItem()">edit</button>
      </div>
    </div>

    <div class="todo-calendar" ng-controller="calendarController" ng-if="view == 0">
      <input class="todo-calendar-input" id="calendar">
    </div>

    <div class="todo-default" ng-if="view == 1" ng-controller="listController">
      <ul class="todo-default-list">
        <li ng-repeat="item in items | filter:{label:$root.searchFilter, category:$root.categoryFilter}"
          class="todo-default-list-item">
          <div class="todo-default-list-item-label">{{item.label}}</div>
          <input class="todo-default-list-item-select" type="radio" ng-click="selectItem(item.id)" name="selectedItem" value="{{item}}">
        </li>
      </ul>
      <button class="todo-default-add" ng-click="addItem()">
        <img src="img/listAddButton.png">
      </button>
    </div>



    <div class="todo-notes" ng-if="view == 2" ng-controller="notesController">
      <ul class="todo-notes-list">
        <li ng-repeat="item in items | filter:{label:$root.searchFilter, category:$root.categoryFilter}"
          class="todo-notes-list-item">
          <div class="todo-notes-list-item-label">{{item.label}}</div>
          <div class="todo-notes-list-item-category">{{item.category}}</div>
          <div class="todo-notes-list-item-date">{{item.date.getMonth() + 1}}.{{item.date.getDate()}}</div>
          <div class="todo-notes-list-item-preview">{{item.notes}}</div>
          <input class="todo-notes-list-item-select" type="radio" ng-click="selectItem(item.id)" name="selectedItem" value="{{item}}">
        </li>
      </ul>
    </div>

  </div>



  <div class="todo-edit" ng-if="view == 3" ng-controller="editController">

    <input type="text" class="todo-edit-label" ng-model="selectedItem.label">

    <div class="todo-edit-categories">
      <label ng-class="(selectedItem.category == group)? 'todo-edit-categories-option-selected' : 'todo-edit-categories-option'" ng-repeat="group in categoryLegend">
        <input type="radio" id="add-category" class="todo-edit-categories-option-check" ng-model="selectedItem.category" ng-value="group">{{group}}</label>
    </div>
    <input type="date" class="todo-edit-date" ng-model="selectedItem.date">
    <input type="text" class="todo-edit-notes" ng-model="selectedItem.notes">
    <button type="submit" class="todo-edit-complete" ng-click="closeEditor()">Complete</button>

  </div>



  <div class="todo-nav" ng-controller="navController">
    <button id="calendarButton" ng-click="calendarPressed()">
      <img ng-src="img/calendarIcon{{view == 0 ? 'Active' : 'Inactive'}}.png">
    </button>
    <button id="listButton" ng-click="listPressed()">
      <img ng-src="img/checkIcon{{view == 1 ? 'Active' : 'Inactive'}}.png">
    </button>
    <button id="notesButton" ng-click="notesPressed()">
      <img ng-src="img/pencilIcon{{view == 2 ? 'Active' : 'Inactive'}}.png">
    </button>
  </div>
  </div>

  <script src="js/angular/angular.min.js"></script>
  <script src="js/angular/angular-route.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- build:minjsLink -->
  <script src="js/myList.js"></script>
  <!-- endbuild -->


</body>

</html>