<html lang="en" ng-app="myList">

<head>
  <meta charset="utf-8">

  <title>My Page</title>
  <meta name="description" content="Test Work View">
  <meta name="author" content="me">

  <!-- build:stylesheetLink -->
  <link rel="stylesheet" href="./css/styles.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body>
  <div class="todo" ng-controller="todoController">


    <div class="todo-header" ng-controller="headerController" ng-include="'../src/html/header.html'">
    </div>

    <div class="todo-calendar" ng-controller="calendarController" ng-if="target == 'add'">
      <!-- <input class="todo-calendar-input" type="text" id="calendar" ng-model="$root.dateFilter" ng-change="searchDate()"> -->
      
      <button class="todo-default-add" ng-click="addItem()">
        <img src="img/listAddButton.png">
      </button>
    </div>

    <div class="todo-default" ng-if="target == 'daily'" ng-controller="listController" ng-include="'../src/html/daily.html'">
      
    </div>

    <div class="todo-notes" ng-if="target == 'notes'" ng-controller="notesController" ng-include="'../src/html/notes.html'">
    </div>




    <div class="todo-edit" ng-if="target == 'edit'" ng-controller="editController" ng-include="'../src/html/edit.html'">
    </div>



    <div class="todo-nav" ng-controller="navController" ng-include="'../src/html/nav.html'">
      
    </div>
  </div>

  <script src="js/angular/angular.min.js"></script>
  <script src="js/angular/angular-route.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- build:minjsLink -->
  <script src="js/myList.js"></script>
  <!-- endbuild -->


</body>

</html>