.todo {
    display:flex;
    flex-direction: column;
    background-color: #191c35;
    justify-content: center;

    &-calendar {

    }

    &-list {
        &-add {

        }
    }

    &-notes {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-header {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &-search {
                
                #search-icon {
                    height: 40px;
                }
            }
            &-edit {

            }
        }
        &-search {
            display:flex;

            &-input {


            }
            &-select {

            }
            &-cancel-button {
                
                #cancel-icon {
                    height: 40px;
                }
            }
        }
        &-list {
            display: flex;
            flex-direction: column;

            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                &-label {
                    color: white;
                    flex-basis: 50%;
                    font-style: bold;
                    font-size: 24px;
                }
                &-date {
                    color: white;
                    flex-basis: 50%;
                    display: flex;
                    justify-content: flex-end;
                }
                &-preview {
                    color: white;
                    flex-basis: 90%;
                    font-size: 18px;
                }
                &-select {
                    flex-basis: 10%;
                }
            }

            
        }
    }

    &-edit {
        display: flex;
        flex-direction: column;
        

        &-label {

        }

        &-categories {
            display: flex;
            flex-direction: row;
            overflow: scroll;
        }

        &-notes {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &-nav {
        background-color: #30334a;
        justify-content: center;
    }
}