.todo {
    display: flex;
    flex-direction: column;
    background-color: #191c35;
    align-items: center;
    width: 100%;
    font-family: ubuntu;

    .flatpickr-calendar {
        background-color: transparent;
        margin: 20px 0;
        border-color: transparent;
    }

    .flatpickr-prev-month {
        fill: #f3f3ff !important;
    }

    .flatpickr-current-month {
        color: #f3f3ff;
        fill: #f3f3ff;
    }

    .numInputWrapper {
        opacity: 0.6;
    }

    .flatpickr-next-month {
        fill: #f3f3ff !important;
    }

    .flatpickr-weekday {
        color: #eb7025;
    }

    .flatpickr-day {
        color: #f3f3ff !important;

        &:hover {
            background: #f3f3ff80;
            border-color: #f3f3ff80;
        }
    }

    .flatpickr-day.selected {
        background: linear-gradient(0deg, rgba(230, 85, 28, 1) 0%, rgba(240, 140, 46, 1) 100%);
        border-color: #eb7025;

        &:hover {
            background: linear-gradient(0deg, rgba(245, 101, 43, 1) 0%, rgba(255, 155, 61, 1) 100%);
            border-color: #eb7025;
        }
    }

    &-calendar {
        display: flex;
        justify-content: center;
        width: 100%;

        #calendar {
            display: none;
        }

    }

    .invisible-item {
        visibility:hidden;
    }

    &-header {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 60px;

        &-default {
            display: flex;
            flex-direction: row;
            
            padding: 10px 20px;
            justify-content: flex-start;

            &-search-button {
                display: block;
                position:absolute;
                left: 20px;
                background: linear-gradient(0deg, rgba(230, 85, 28, 1) 0%, rgba(240, 140, 46, 1) 100%);
                border: none;
                border-radius: 20px;
                margin: 10px;
                padding: 0;
                outline: none;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(0deg, rgba(245, 101, 43, 1) 0%, rgba(255, 155, 61, 1) 100%);
                }

                #search-icon {
                    display: flex;
                    padding: 10px;
                    filter: invert(1);
                    background-color: transparent;
                    height: 20px;
                }
            }


        }

        &-search {
            display: flex;
            justify-content: flex-start;
            flex-basis: 80%;

            &-input {
                background: transparent;
                border-radius: 20px;
                color: #f3f3ff;
                padding: 10px;
                margin: 20 30px;
                outline: none;
            }

            &-select {
                background: transparent;
                border-radius: 20px;
                color: #f3f3ff80;
                padding: 10px;
                margin: 20 30px;
                outline: none;
            }

            &-cancel-button {
                margin: 20 30px;
                background: linear-gradient(0deg, rgba(230, 85, 28, 1) 0%, rgba(240, 140, 46, 1) 100%);
                border: none;
                border-radius: 20px;
                padding: 10px;
                height: 40px;
                width: 40px;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                display: flex;
                outline: none;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(0deg, rgba(245, 101, 43, 1) 0%, rgba(255, 155, 61, 1) 100%);
                }

                #cancel-icon {
                    height: 50px;
                    margin: 0;
                    filter: invert(1);
                    opacity: 0.8;
                }
            }

        }

        &-title {
            position: absolute;
            top: 40px;
            align-items: center;
            justify-content: center;
            color: #f3f3ff;
            font-weight: bold;
            font-size: 20px;
        }

        &-edit-button {
            position: absolute;
            right: 20px;
            background: linear-gradient(0deg, rgba(230, 85, 28, 1) 0%, rgba(240, 140, 46, 1) 100%);
            padding: 10px;
            margin: 20 30px;
            border: none;
            border-radius: 20px;
            color: #f3f3ff;
            outline: none;
            font-family: ubuntu;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(0deg, rgba(245, 101, 43, 1) 0%, rgba(255, 155, 61, 1) 100%);
            }
        }
    }

    &-default {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        &-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            overflow-y: scroll;
            z-index: 1;
            background-color: #343852;
            width: 90%;
            border-radius: 20px;


            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 20px;
                cursor: pointer;
                width: 100%;

                &:hover {

                    background-color: #24263a;

                }

                &-label {
                    color: #f3f3ff;
                    opacity: 0.9;
                    font-weight: bold;
                    font-size: 20px;

                }

                &-select {
                    display: none;
                }
            }

            .default-list-item-selected {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 20px;
                background-color: #24263a;

            }
        }

        &-layer {
            display:flex;
            flex-direction:column-reverse;
            justify-content: flex-end;
            width: 100%;
            align-items: center;
            
            &-hidden {
                display: none;
                padding: 0;
                margin: 0;
                height: 20px;
                overflow: hidden;
                justify-content: center;

                &:first-child {
                    display:flex;
                    width: 90%;
                }
                &:nth-child(2) {
                    display:flex;
                    width: 80%;
                }
                &:nth-child(3) {
                    display:flex;
                    width: 70%;
                }

                &-card {
                    border-radius: 20px;
                    background: linear-gradient(0deg, rgba(25, 28, 53, 1) 0%, rgba(52, 56, 82, 1) 100%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    justify-content: flex-start;
                    height: 200%;
                }
            }
        }

        &-add {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                filter: brightness(110%);

            }
        }
    }

    &-notes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;




        &-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            overflow-y: scroll;

            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 20px 0;
                cursor: pointer;

                &:hover {
                    filter: brightness(110%);
                    background-color: #272a44;
                }

                &-label {
                    color: #f3f3ff;
                    opacity: 0.9;
                    font-weight: bold;
                    font-size: 20px;
                    flex-basis: 60%;
                    padding: 10 20px;
                    cursor: pointer;

                }

                &-category {
                    color: #f3f3ff;
                    font-size: 18px;
                    opacity: 0.9;
                    flex-basis: 10%;
                    padding: 10 20px;
                }

                &-date {
                    color: #f3f3ff;
                    opacity: 0.9;
                    display: flex;
                    justify-content: flex-end;
                    flex-basis: 10%;
                    padding: 10 20px;

                }

                &-preview {
                    color: #f3f3ff;

                    font-size: 18px;
                    opacity: 0.9;
                    padding: 10px 0 0 0;
                    flex-basis: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 10 20px;
                }

                &-select {
                    display: none;


                }
            }

            .notes-list-item-selected {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 20px 0;
                cursor: pointer;
                background-color: #363953;
            }


        }
    }

    &-edit {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #191c35;
        font-family: ubuntu;
        align-items: center;

        &-label {
            background-color: #191c35;
            border-radius: 20px;
            color: #f3f3ff;
            font-family: ubuntu;
            font-size: 20px;
            padding: 10px;
            margin: 20 30px;
            width: 50%;
            outline: none;
        }

        &-categories {
            display: flex;
            flex-direction: row;
            overflow: scroll;
            justify-content: space-around;
            width: 50%;

            &-option {
                color: #f3f3ff;
                opacity: 0.6;
                margin: 20px;
                padding: 10px;
                border: 1px outset #f3f3ff80; //replicate categoryContainer.png
                border-radius: 20px;
                outline: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                &-selected {
                    border: none; //replicate categoryContainerActive.png
                    opacity: 1;
                    color: #f3f3ff;
                    margin: 20 30px;
                    padding: 10px;
                    border-radius: 20px;
                    background: linear-gradient(0deg, rgba(230, 85, 28, 1) 0%, rgba(240, 140, 46, 1) 100%);
                    outline: none;
                }

                &-check {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    margin: 0;
                    padding: 0;

                }
            }
        }

        &-date {
            display: flex;
            background-color: #191c35;
            border-radius: 20px;
            color: #f3f3ff;
            font-family: ubuntu;
            font-size: 16px;
            padding: 10px;
            margin: 20 30px;
            width: 50%;
            outline: none;
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        &-notes {
            background-color: #191c35;
            border-radius: 20px;
            color: #f3f3ff;
            display: flex;
            flex-wrap: wrap;
            font-family: ubuntu;
            font-size: 18px;
            padding: 10px;
            margin: 20 30px;
            width: 50%;
            outline: none;
        }

        &-complete {
            display: flex;
            width: 30%;
            margin: 10px;
            padding: 10px;
            background: linear-gradient(0deg, rgba(230, 85, 28, 1) 0%, rgba(240, 140, 46, 1) 100%);
            border: none;
            border-radius: 20px;
            color: #f3f3ff;
            font-family: ubuntu;
            justify-content: center;
            outline: none;
            cursor: pointer;

            &:hover {
                background: linear-gradient(0deg, rgba(245, 101, 43, 1) 0%, rgba(255, 155, 61, 1) 100%);
            }
        }
    }

    &-nav {
        display: flex;
        background-color: #30334a;
        justify-content: space-around;
        width: 100%;


        #calendarButton {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        #listButton {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        #notesButton {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}