.todo {
    display:flex;
    flex-direction: column;
    background-color: #191c35;
    justify-content: center;

    &-calendar {

    }

    &-list {
        &-add {

        }
    }

    &-notes {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-header {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &-search {
                
                #search-icon {
                    height: 100%;
                }
            }
            &-edit {

            }
        }
        &-list {
            display: flex;
            flex-direction: column;


            &-label {

            }
            &-preview {

            }
            &-select {

            }
        }
    }

    &-edit {
        display: flex;
        
        #edit-form {
             display: flex;
             flex-direction: column;
        }

        &-label {

        }

        &-categories {
            display: flex;
            flex-direction: row;
            overflow: scroll;
        }
    }

    &-nav {
        background-color: #30334a;
        justify-content: center;
    }
}